*{
    margin: 0;
    padding: 0;
}
body{
        background-color: rgb(13 30 75 / 81%);
}

.my-about{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}
.container{
    display: flex;
}

.sidebar{

    z-index: 12;
    /* position: sticky; */
    position: fixed;
    top: 0px;
    
    
    color: white;
    /* width: 10vw; */
    min-height: 100vh;
    border-radius: 0.3rem;

    transition: transform 0.8s ease-in;
    animation: animateS 1s 0.001s 1;     
    
}


@keyframes animateS {

    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.sidebar::before{
    content: "";
    background:  rgb(175, 172, 172);
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    z-index:-1;
    opacity: 0.7;
}
.sidebar nav ul{
    
           list-style: none;
}
.sidebar nav ul li{
    font-size: 1.2rem;
           font-family: sans-serif;
           font-weight: 600;
           margin: 5rem 0.7rem;
}
.sidebar nav ul li a{
  
    color: white;
    text-decoration: none;
}
.sidebar nav ul li a:hover{
   color: grey;
}
.sidebar nav ul li a:active{
   color: rgb(149, 149, 149);
}
.main{
    
    /* background-color: greenyellow; */
    width: 100vw;
    height: auto;
    /* margin:auto 0rem; */
     /* background-color: rgb(181 206 206); */

     /* background-color: rgb(13 30 75 / 58%); */
}

.infocontainer{
    /* background-color: cornflowerblue; */
    margin: 9em 0em 0em 4em;
    
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 95vw;
    height: 60vh;
    /* font-size: 3rem; */
}

.devinfo{
    font-family: fantasy;
    color: white;
    font-size: 16px;
    margin: 0.1em 2em;
}

.hellow{
    font-size: 2.6em;
}
.name{
    font-size: 3em;
}
.about{
    font-size: 2.2em;
} 
.moreabout{
    margin: 1em 0.1em;
    font-size: 1.2em;
    
}
.buttons{
    margin: 1.1em 0.1em;
}
.btn{
    
    background-color: blue;
    padding: 0.5em 1em;
    border-radius: 2em;
    font-weight: bolder;
    color: white;
    border: 0px solid white;
    box-shadow: 3px 3px 3px black;
    cursor: pointer;
    margin: 2em 2em;
}
.btn a{
   text-decoration: none;
   color: white;
}

.btn:hover{
    color: blue;
    background-color:white;
    padding: 0.5em 1em;
    border-radius: 2em;
    
    border: 1px solid rgb(47, 0, 255);
    box-shadow: 3px 3px 3px blue;
}
.btn:active{
    color: blue;
    background-color:rgb(199, 196, 233);
    padding: 0.5em 1em;
    border-radius: 2em;
    
    border: 1px solid rgb(47, 0, 255);
    box-shadow: 3px 3px 6px blue;
    font-weight: bolder;
}

.devpic {
    

    margin: 0.1em 2em;
}
/* .devpic span{
    
} */
.devpic img{
    /* height: 60vh; */

    height: 452px;
    width: 452px;
    /* box-shadow: -12px -12px 12px black; */
    filter: drop-shadow(20px -5px 40px black);
    /* border-bottom-right-radius: 300px;
    border-bottom-left-radius: 333px; */
    border-bottom: 4px solid black;
}
/* .devpic img::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    box-shadow: -12px -12px 12px black;
    background-color: aqua;
    z-index: -1;
    
} */
        

/* sidebar go css class */

.gosidebar{
    /* transform: translate(-140px, 0px); */
    opacity: 0.0001;
    translate: 0.5s;
    position: absolute;
    animation: animate 1s 0.001s 1;     

}
@keyframes animate {

    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}




/* hamburger setting */

.hamburger {
    z-index: 13;
    position: absolute;
    cursor: pointer;
    top: 8px;
    left: 3px;
}
.ham {
    position: fixed;
    left: 0;
    top: 0;
    margin-left: 1.1rem;
}
.ham:hover {
    opacity: 0.5;
}
.ham:hover {
    opacity: 0.3;
}
.cross{
    /* display: inline; */
    /* position: absolute;
    top: 18px;
    left: 40px; */
}



/* width sizing for under 1800px */

/* @media screen and (min-width:1150px) and (max-width:1800px){ */
@media screen and (min-width:1150px) and (max-width:1800px){
    *{
        /* background-color: red */

        margin: 0;
        padding: 0;
    }
    .sidebar nav ul li{
        font-size: 1.1rem;
               
               margin: 5rem 0.6rem;
    }

    
    
         .devinfo{
             font-size: 23px;
         }
    .hellow{
        font-size: 1.6em;
    }
    .name{
        font-size: 2em;
    }
    .about{
        font-size: 1.3em;
    } 
    .moreabout{
        margin: 1em 0.1em;
        font-size: 1em;
        
    }
    .buttons{
        margin: 1.1em 0.1em;
    }

    .devpic {
        margin: 0.1em 1em;
    }
    .devpic img{
        height: 45vh;
    }
    
}

   /* width sizing under 1250px */


   @media screen and (min-width:610px) and (max-width:1150px) {

    *{
        /* background-color: sandybrown; */
    }

    .infocontainer{
       
        
        align-items: center;
        

        flex-wrap: wrap;

    }

    .devinfo{
        padding: 0em 1em;
        
    }
    .devpic {
     
        display: flex;
        align-items: center;
        justify-content: center;
    }
       

    .devpic img{
        /* height: 35vh; */
            height: 60%;
    width: 60%;

    }

    .devpic {
        margin: 0.1em 1em;
    }

    /* .sidebar nav ul li{
        font-size: 1rem;
               
               margin: 5rem 0rem;
    } */
       
   }




   @media screen and (min-width:300px) and (max-width:610px) {

   

    .infocontainer{
        
        /* margin: 4em 0em 0em 0.5em; */
        align-items: center;
        justify-content: center;
        

        flex-wrap: wrap;

    }
    .moreabout{
        font-size: 1.4em;
    }

    .devinfo{
        font-size:9px;
    }

    
    .devpic img{
        /* height: 35vh; */
        width: 55%;
        height: 55%; 

    }

    
    .buttons{
        margin: 7em 0.1em;

        
    }
    .btn{
        font-size: 0.7rem;
        padding: 0.5em 1em;
        
       
        
        margin: 1.2em 1em;
    }
    
    
    .btn:hover{
        padding: 0.5em 1em;
        
       
        
        margin: 1.2em 0.2em;
    }


}



@media screen and (min-width:300px) and (max-width:480px) {


    .devinfo{
        font-size:8px;
    }

    .devpic img{
        /* height: 35vh; */
        width: 65%;
        height: 65%;

    }
}


   @media screen and (min-width:0px) and (max-width:300px) {

   

    .infocontainer{
        
        margin: 4em 0em 0em 0em;
        align-items: center;
        

        flex-wrap: wrap;

    }

    .devinfo{
        font-size:9px;
    }

    .devpic img{
        /* height: 20vh; */
        width: 90%;
        height: 90%;

    }

     .devpic {
        margin: 3em 1em;
    } 

    .sidebar nav ul li{
        font-size: 0.7rem;
               
               margin: 4rem 0.4rem;
    }

    .ham {
        margin-left: 0rem;
    }


    /* button setting */

    .buttons{
        margin: 11em 0.1em;

        font-size: 2px;
    }
    .btn{
        font-size: 0.3rem;
        padding: 0.5em 1em;
        
       
        
        margin: 1.2em 1em;
    }
    
    
    .btn:hover{
        padding: 0.5em 1em;
        
       
        
        margin: 1.2em 0.2em;
    }

    .moreabout{
        font-size: 1.4em;
    }
    
    
   }

